<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844461977876-cgolssmi1hs6et4vi382127t1enns83i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844461977876-cgolssmi1hs6et4vi382127t1enns83i</string>
	<key>API_KEY</key>
	<string>AIzaSyCAsihQ5E_t4Hi4FK1KON4BRK4cuBJMVFY</string>
	<key>GCM_SENDER_ID</key>
	<string>844461977876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MosonLee.FireBaseExample</string>
	<key>PROJECT_ID</key>
	<string>sesac2-32548</string>
	<key>STORAGE_BUCKET</key>
	<string>sesac2-32548.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844461977876:ios:fa1c49c8f536ca12759201</string>
</dict>
</plist>